<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- The SDK requires Bluetooth permissions in case users are using Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- For Android 12 and above devices, the following permission is also required. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:name="com.example.sample_app.SampleApplication"
        android:allowBackup="false"
        android:banner="@drawable/ic_launcher_background"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@mipmap/ic_launcher"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAMPLE_APP"
        android:usesCleartextTraffic="true"
        tools:replace="android:name"
        >

    <activity
            android:name="com.example.sample_app.PermissionActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SAMPLE_APP">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <data
                    android:host="preprod.jiomeetpro.jio.com"
                    android:pathPrefix="/shortener"
                    android:scheme="https" />
                <data
                    android:host="jiomeetpro.jio.com"
                    android:pathPrefix="/shortener"
                    android:scheme="https" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.example.sample_app.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>